    
                     
        </div>


<!-------------------------------------------------- Developer Contact ------------------------------------------------->



        <div class="contact" id="contact">
            <h6><img src="img/phone.png" alt="">6354974476  </h1>
            <h6><img src="img/mail.png" alt="">rajpurohityogesh50@gmail.com</h1>
            <h6><img src="img/linkedin.png" alt=""><a href="https://www.linkedin.com/in/yogesh-singh-rajpurohit-a09b93192">Visit My Profile</a> </h1>
            <h5>&#169 2020 Spark Foundation All Rights Reserverd</h5>
        </div>

        
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    </body>
</html>

