<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><%= heading %></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <div class="top">


<!-------------------------------------------------- Navigation Bar ------------------------------------------------->

            
            <nav class="navigation navbar navbar-expand-lg navbar-light bg">
                
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                
                    <a class="navbar-brand" href="/">sPark Banking</a>
                
                    <ul class="nav-list navbar-nav mr-auto mt-2 mt-lg-0">
                        
                        <li class="nav-item">
                            <a class="nav-link" href="/home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/all_cust">Customers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/my_activity">Transactions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/transfer">Transfer</a>
                        </li>
                        
                    </ul>
                
                </div>   
            </nav>
